---
// Props que recibirá el componente
// export interface ProductCardProps {
//   name: string;
//   price: number;
//   photos: {
//     urls: string[];
//   };
// }

const { name, price, photos, section, id, slug } = Astro.props;
const formater = Intl.NumberFormat("es-ES");
---

<a
  class="font-bold cursor-pointer hover:scale-105 ease-in-out duration-200"
  href={`/products/${slug}`}
>
  <img
    class={`w-[100vw] h-[85vw] rounded-md ${section == "MR" ? " lg:h-[400px] " : section == "CC" ? "lg:w-[100vw] lg:h-[450px]" : "lg:h-[300px]"}`}
    src={"productImage/" + photos.urls[0]}
    alt={name}
  />
  <h3 class="text-neutral-500 text-xl pt-2">
    {name[0].toUpperCase() + name.substring(1)}
  </h3>
  <h3 class="text-neutral-800">
    Desde: ${
      formater.format(price) +
        `${id == 2 || id == 3 ? " (por metro lineal)" : ""}`
    }
  </h3>
  <hr class="h-[.5px] my-4 bg-gray-400 border-0 md:hidden" />
</a>
