---
interface btnProps
{
    productName:string
    textBtn:string
}
const { productName, textBtn } = Astro.props;
---

<a
  class="flex w-[100%] md:w-[30rem] bg-green-600 rounded font-nerko text-white justify-center items-center mt-5"
  href={`https://wa.me/998973623?text=Hola, me interesa el producto ${productName.replace(/[^\p{L}\p{N}\s]/gu, "")}. ¿Podrías darme más información?`}
  target="_blank"
>
  <img class="w-10 h-10" src="/whatsapp.png" />
  {`${textBtn?textBtn:"Quiero más detalles, vamos a WhatsApp"}` }
</a>
