---
interface btnProps {
  productName: string;
  textBtn: string;
}
const { productName, textBtn } = Astro.props;
---

<a
  class="flex w-[100%] md:w-[30rem] bg-[#25d366] rounded font-nerko text-white justify-center items-center mt-5"
  href={`https://wa.me/56974061736?text=Hola, estoy interesado en sus servicios.`}
  target="_blank"
>
  <img class="w-10 h-10" src="/socialmedia/whatsappButton.svg" />
  {`${textBtn ? textBtn : "Hablemos por WhatsApp"}`}
</a>
