---

---

<nav
  class="flex flex-col md:flex-row justify-between fixed w-full z-20 top-0 start-0 border-b border-gray-600 py-8 px-5"
>
  <div class="flex justify-between w-[100%] md:w-auto">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src={import.meta.env.IMAGE_LOGO}
        class="h-8 rounded-full"
        alt="El Fiorentino"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-white"
        >El Fiorentino</span
      >
    </a>
    <a
      id="menu-button"
      data-collapse-toggle="navbar-sticky"
      data-nav-toggle="#navbar-sticky"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-sticky"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </a>
  </div>
  <div
    id="menu-open"
    class="hidden items-center justify-between w-full md:flex md:w-auto md:order-1 navbar"
    id="navbar-sticky"
  >
    <ul
      class="flex flex-col p-4 md:p-0 mt-4 font-medium rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
    >
      <li>
        <a
          href="#quien-soy"
          class="btn block py-2 px-3 text-white rounded md:bg-transparen md:p-0 hover:text-yellow-300"
          aria-current="page">Mas Pedidos</a
        >
      </li>
      <li>
        <a
          href="#experiencia-loboral"
          class="btn block py-2 px-3 text-white rounded md:bg-transparen md:p-0 hover:text-yellow-300"
          >Catalogo</a
        >
      </li>
      <li>
        <a
          href="#projects"
          class="btn block py-2 px-3 text-white rounded md:bg-transparen md:p-0 hover:text-yellow-300"
          >Nosotros</a
        >
      </li>
    </ul>
  </div>
</nav>

<script>
  const button = document.querySelector("#menu-button");
  const menuOpen = document.querySelector("#menu-open");
  if (button && menuOpen)
    button.addEventListener("click", () => {
      menuOpen.classList.toggle("hidden");
    });
</script>
