---

---

<nav
  id="navBar"
  class={`ease-out duration-500 flex flex-col md:flex-row justify-between fixed w-full z-30 top-0 start-0 border-b border-gray-600 px-[10%] pt-4  text-white font-barlow pb-5 `}
>
  <div class="flex
  justify-between
  w-[100%]
  md:w-auto
  items-center">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="/indexImage/Logo.png"
        class="h-16 lg:h-28"
        alt="El Fiorentino"
      />
    </a>
    <a
      id="menu-button"
      data-collapse-toggle="navbar-sticky"
      data-nav-toggle="#navbar-sticky"
      class="ease-out duration-500 inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-sticky"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </a>
  </div>
  <div
    id="menu-open"
    class="hidden items-center justify-between w-full md:flex md:w-auto md:order-1 navbar gap-5"
    id="navbar-sticky"
  >
    <ul
      class="flex flex-col gap-4 lg:p-4 md:p-0 mt-8 lg:mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
    >
      {
        [
          ["mas-pedidos", "Mas pedidos"],
          ["catalogo", "Catalogo"],
          ["nosotros", "Nosotros"],
        ].map((nav) => (
          <li>
            <a
              data-info={nav[0]}
              class="nav-button duration-special ease-out hover:ease-in lg:px-0 transition cursor-pointer "
            >
              {nav[1]}
            </a>
          </li>
        ))
      }
    </ul>
    <ul
      class="flex gap-4 md:gap-0 lg:p-4 md:p-0 mt-8 lg:mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
    >
      <li>
        <a
          href={"https://www.instagram.com/muebles_elfiorentino/"}
          target="_blank"
          ><img
            src={"/socialmedia/Instagram.svg"}
            width={17}
            height={17}
            alt="Logo Instagram"
          /></a
        >
      </li>
      <li>
        <a
          href={"https://www.facebook.com/p/Muebler%C3%ADa-El-Fiorentino-100032893551927/?locale=es_LA"}
          target="_blank"
          ><img
            src={"/socialmedia/Facebook.svg"}
            width={17}
            height={17}
            alt="Logo Facebook"
          /></a
        >
      </li>
      <li>
        <a href={"mailto:muebleria.elfiorentino05@gmail.com"} target="_blank"
          ><img
            src={"/socialmedia/Mail.svg"}
            width={17}
            height={17}
            alt="Logo Correo"
          /></a
        >
      </li>
    </ul>
  </div>

  <script>
    // Obtener referencias a los elementos del DOM
    const button = document.querySelector("#menu-button");
    const menuOpen = document.querySelector("#menu-open");
    const navBtn = document.querySelectorAll(".nav-button-h");
    const navBar = document.getElementById("navBar");

    // Función para manejar el click del botón del menú
    if (button && menuOpen) {
      button.addEventListener("click", () => {
        navBar?.classList.add("bg-[#111111F2]"); // Asegurar que la barra de navegación tenga fondo
        menuOpen.classList.toggle("hidden"); // Alternar visibilidad del menú
      });
    }

    // Función para manejar el click en botones de navegación
    if (navBtn) {
      navBtn.forEach((btn) => {
        btn.addEventListener("click", () => {
          const target = btn.getAttribute("data-info"); // Obtener el ID del destino
          document
            .querySelector(`#${target}`)
            ?.scrollIntoView({ behavior: "smooth", block: "start" }); // Scroll suave al destino
        });
      });
    }

    // Detectar el scroll al cargar y en tiempo real
    document.addEventListener("DOMContentLoaded", () => {
     
      const handleScroll = () => {
        const scrollY = window.scrollY;
        if (scrollY > 0) {
          navBar?.classList.add("bg-[#111111F2]"); 
        }else if( document.title!="El Fiorentino")
        {
          navBar?.classList.add("bg-[#111111F2]"); 
        } 
        else {
          navBar?.classList.remove("bg-[#111111F2]");
          menuOpen?.classList.add("hidden"); 
        }
      };
      handleScroll();
      window.addEventListener("scroll", handleScroll);
    });
  </script>
</nav>
