---

---

<section
  class="lg:pt-20 flex flex-col lg:flex-row lg:max-w-[1200px] m-auto px-5 g:px-0 font-barlow gap-4"
  id="nosotros"
>
  <div class="border-solid border-2 border-sky-300 rounded-sm">
    <img
      src="indexImage/About.jpg"
      class="relative lg:right-10 lg:bottom-10 w-[100%] min-h-[350px] lg:h-[600px] rounded-sm"
      alt="nosotros-image"
    />
  </div>

  <div class="flex flex-col gap-2 lg:w-[50%]">
    <div class="justify-center flex flex-col">
      <h1 class="text-3xl font-bold text-neutral-800">Nosotros</h1>
      <hr class="w-48 h-1 bg-blue-400 border-0 rounded-sm my-2" />
    </div>
    <h4 class="text-neutral-800 font-medium">El Fiorentino</h4>
    <p class="text-neutral-500">
      En Mueblería El Fiorentino, contamos con más de 20 años de experiencia en
      el diseño, confección y armado de mobiliario en línea plana. Atendemos
      tanto a particulares como a instituciones y empresas, ofreciendo
      soluciones personalizadas y de alta calidad. Ubicados en Cuesta El Hinojo,
      Punitaqui, trabajamos en toda la Cuarta Región, llevando nuestros muebles
      a hogares, oficinas y negocios que buscan funcionalidad, diseño y
      durabilidad. Nuestro compromiso es brindar productos con acabados de
      excelencia y adaptados a las necesidades de cada cliente. ¡Confía en
      nuestra experiencia para dar vida a tus espacios!
    </p>
  </div>
</section>
