---

---

<section class="grid grid-cols-1 lg:grid-cols-2 lg:w-[1200px] m-auto gap-5 pt-20">
    <div class="border-solid border-2 border-sky-500 ">
        <div class=" border-t-emerald-400">
            <img src="indexImage/About.jpg" class="relative right-10 bottom-10" ></imb>
        </div>
    </div>
    <div>
        <h2>Nosotros</h2>
        <h4>El Fiorentino</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, labore quidem saepe aliquid sed exercitationem doloremque non cumque consectetur suscipit accusamus similique totam, molestiae nisi dolores? Ducimus consequatur debitis pariatur!
        Minima omnis pariatur, dignissimos, consequuntur accusantium incidunt officiis sapiente animi perferendis ad culpa enim magnam ea laboriosam quam aliquid odit. Nisi unde optio repudiandae facilis dolore quidem quasi, enim laboriosam.
        </p>
    </div>
</section>