---

---

<section class="grid grid-cols-1 lg:grid-cols-2 lg:max-w-[1200px] m-auto">
  <div>
    <div>
      <p>contactanos</p>
      <h3>Nuestra sucursal</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nulla
        enim et laborum quo, excepturi voluptatum obcaecati aliquid ipsa,
        doloremque quae accusamus neque nam veniam dolore placeat unde adipisci
        consectetur.9
      </p>
    </div>
    <div>
      <p>+5691234567</p>
      <p>Cuesta el Hinojo, 1840000 Punitaqui, Coquimbo</p>
      <p>muebleria.elfiorentino05@gmail.com</p>
    </div>
    <div></div>
  </div>

  <div>
    <h2 class="text-[1.8rem] font-bold">Como llegar</h2>
    <div class="w-full pt-10">
      <div class="">
        <iframe
          class="hover:scale-105 transition ease-in-out w-full h-[25rem] lg:h-[30vw] border-0"
          loading="lazy"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.6851080882207!2d-71.25875514774319!3d-30.755345509213036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9691c9a4428c24e5%3A0x6abe2f9fdb30c852!2sMuebleria%20El%20Fiorentino!5e0!3m2!1ses!2sus!4v1737239033392!5m2!1ses!2sus"
          title="-30.0213625,-71.2559452"
          aria-label="-30.0213625,-71.2559452"></iframe>
      </div>
    </div>
  </div>
</section>
