---

---

<section
  class="grid grid-cols-1 gap-5 lg:grid-cols-2 lg:max-w-[1200px] m-auto font-barlow justify-center items-center pt-8 px-5"
>
  <div class="">
    <div class="flex flex-col gap-2">
      <p class="text-lg text-neutral-700 font-bold">Contáctanos</p>
      <h3 class="text-4xl font-semibold text-blue-500">
        Nuestra sucursal Punitaqui
      </h3>
      <p class="text-neutral-500">
        Siempre estamos disponibles para ayudarte. Contáctanos a través de los
        medios que ponemos a tu disposición y con gusto atenderemos tus
        necesidades.
      </p>
    </div>
    <div class="text-neutral-700 font-bold flex flex-col gap-2 pt-5">
      <a class="flex gap-2" href="tel:974061736">
        <img src="/socialmedia/Phone.svg" alt="phone-image" />
        <p>9 7406 1736</p>
      </a>
      <a class="flex gap-2">
        <img src="/socialmedia/Location.svg" alt="location-image" />
        <p>Cuesta el Hinojo, 1840000 Punitaqui, Coquimbo</p>
      </a>
      <a class="flex gap-2" href="mailto:muebleria.elfiorentino05@gmail.com">
        <img src="/socialmedia/MailB.svg" alt="mail-image" />
        <p>muebleria.elfiorentino05@gmail.com</p>
      </a>
    </div>
    <div></div>
  </div>
  <div>
    <div class="items-center justify-center flex flex-col">
      <h1 class="text-3xl font-bold text-neutral-800">Ubicación</h1>
      <hr class="w-48 h-1 bg-blue-400 border-0 rounded-sm my-2" />
    </div>
    <div class="w-full pt-2">
      <div class="">
        <iframe
          class="hover:scale-105 transition ease-in-out w-full h-[25rem] lg:h-[30vw] border-0"
          loading="lazy"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.6851080882207!2d-71.25875514774319!3d-30.755345509213036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9691c9a4428c24e5%3A0x6abe2f9fdb30c852!2sMuebleria%20El%20Fiorentino!5e0!3m2!1ses!2sus!4v1737239033392!5m2!1ses!2sus"
          title="-30.0213625,-71.2559452"
          aria-label="-30.0213625,-71.2559452"></iframe>
      </div>
    </div>
  </div>
</section>
