---
import { dataMoreRequest } from "../../services/getProducts";
import ProductCard from "../products/ProductCard.astro";
const formater = Intl.NumberFormat("es-ES");
---

<section class="xl:w-[1200px] m-auto pt-8 font-barlow" id="mas-pedidos">
  <div>
    <div class="items-center justify-center flex flex-col">
      <h1 class="text-3xl font-bold text-neutral-800">Mas Pedidos</h1>
      <hr class="w-48 h-1 bg-blue-400 border-0 rounded-sm my-2" />
    </div>
    <div
      class="pt-8 px-5 lg:px-0 grid grid-cols-1 lg:grid-cols-3 md:gap-5"
      id="container-more-request"
    >
      {
        dataMoreRequest.map((product) => {
          const photos = product.photos as any;
          return (
            <ProductCard
              name={product.name}
              price={product.price}
              photos={photos}
              section="MR"
            />
          );
        })
      }
    </div>
  </div>
</section>
