---
import { dataMoreRequest } from "../../services/getProducts";
const formater = Intl.NumberFormat("es-ES");
---

<section class="xl:w-[1200px] m-auto" id="mas-pedidos">
  <div>
    <h1 class="text-5xl text-center pt-3">Mas Pedidos</h1>
    <div
      class="pt-8 px-5 lg:px-0 grid grid-cols-1 lg:grid-cols-3 md:gap-5"
      id="container-more-request"
    >
      {
        dataMoreRequest.map((product) => {
          const photos = product.photos as any;
          return (
            <div>
              <img
                class="  lg:w-[350px] w-[100vw] h-[80vw] lg:h-[350px] "
                src={import.meta.env.URL_IMAGES + photos.urls[0]}
              />
              <h3>{product.name}</h3>
              <h3>desde: ${formater.format(product.price)}</h3>
              <hr class="h-[.5px] my-4 bg-gray-400 border-0 md:hidden" />
            </div>
          );
        })
      }
    </div>
  </div>
</section>
