---

---

<section class="hidden">
  <div>
    <div>
      <h1>Nos avalan</h1>
    </div>
    <div class="flex gap-5 h-[320px]">
      <img src="supported/carabineros.png" />
      <img src="supported/bomberos.png" />
      <img src="supported/byo.png" />
      <img src="supported/cecli.png" />
      <img src="supported/prodelca.svg" />
      <img src="supported/sercotec.png" />
    </div>
  </div>
</section>
