---

---

<section class="font-barlow">
  <div
    class="relative w-[100vw] h-[45rem] lg:h-[45rem] flex flex-col justify-center px-[10%]"
  >
    {/* Capa de fondo con opacidad */}
    <div class="absolute inset-0 z-10 bg-black bg-opacity-65"></div>

    {/* Contenido de texto */}
    <div class="relative z-20 text-white xl:w-[1200px]">
      <div class="flex flex-col gap-10">
        <div class="">
          <h1 class="text-5xl md:text-6xl text-white font-semibold">
            Muebleria el Fiorentino
          </h1>
          <h2 class="text-4xl md:text-3xl text-white">
            En la cuarta región diseñamos muebles únicos para<br /> transformar tu
            hogar o empresa
          </h2>
          <h3 class="text-3xl md:text-sm text-white">
            Muebles personalizados con materiales de alta calidad
          </h3>
        </div>
        <div class="flex flex-col gap-10">
          <div>
            <button>goform</button>
            <!-- <div class='mx-10'><ButtonGoForm></ButtonGoForm></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="absolute inset-0 z-0 bg-fixed bg-cover bg-welcome bg-bottom">
    </div>
  </div>
</section>
<style>
  .bg-welcome {
    background-image: url("indexImage/WelcomeImage.webp");
  }
</style>
