---
import WhatsAppBtn from "../button/WhatsAppBtn.astro";
---

<section class="font-barlow">
  <div
    class="relative w-[100vw] h-[35rem] lg:h-[45rem] flex flex-col justify-center px-[10%]"
  >
    {/* Capa de fondo con opacidad */}
    <div class="absolute inset-0 z-10 bg-black bg-opacity-70"></div>

    {/* Contenido de texto */}
    <div class="relative z-20 text-white xl:w-[800px]">
      <div class="flex flex-col gap-10">
        <div class="">
          <h1 class="text-5xl md:text-7xl text-white font-bold md:font-medium">
            Muebleria el Fiorentino
          </h1>
          <h2 class="pt-5 text-xl md:text-3xl text-white font-medium">
            En la cuarta región diseñamos muebles únicos para transformar tu
            hogar o empresa
          </h2>
          <h3 class="pt-5 text-base md:text-lg text-white">
            Muebles personalizados con materiales de alta calidad
          </h3>

          <WhatsAppBtn />
        </div>
      </div>
    </div>

    <div class="absolute inset-0 z-0 bg-fixed bg-cover bg-welcome bg-bottom">
    </div>
  </div>
</section>
<style>
  .bg-welcome {
    background-image: url("indexImage/WelcomeImage.webp");
  }
</style>
